# General Ignores
Projects.txt

# Project 1 Ignores
Project 1/ConsoleCalculator/README.md

# Project 2 Ignores
Project 2/EmployeeManagement/README.md

# Project 3 Ignores
Project 3/ToDoApp/README.md
Project 3/ToDoApp/basic-workflow.txt